.btn-orange {
  background-color: #f06529 !important;
  border-color: #f06529 !important;
  color: white !important;
}

.btn-orange:hover {
  background-color: #d9531e !important;
  border-color: #d9531e !important;
}

.bg-orange {
  background-color: #f06529 !important;
}

.footer {
  background-color: #646464;
  color: white;
}
