:root {
  --color-primario: #10386b;
  --color-secundario: #5ce1e6;
  --color-terciario: #dddddd;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-terciario);
  margin: 0;
}

img {
  max-height: 40px;
}

.btn-primario {
  background-color: var(--color-primario) !important;
  border-color: var(--color-primario) !important;
  color: white !important;
}

.btn-primario:hover {
  background-color: #05275a !important;
  border-color: #05275a !important;
}

.bg-primario {
  background-color: var(--color-primario) !important;
}

.bg-terciario {
  background-color: var(--color-terciario) !important;
}

.table td,
.table th {
  vertical-align: middle;
}

td img {
  max-height: 40px;
}

.table-responsive {
  width: 100%;
}

main {
  flex: 1;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.app-container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;

  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
